.login-wrapper {
    display: flex;
    background-color: #00008b;
    flex-direction: column;
    align-items: center;

}

form {

height: 560px;
max-width: 320px ;
left: 0%;
right: 2%;
top: 30px;
padding-top: 10%;
padding-left: 10%;
background: #FFFFFF;
boxShadow: 0px 11.0951px 36.9838px rgba(0, 0, 0, 0.3);
borderRadius: 9.24594px;
}

.formtext {
  position: relative;
  top: -48px;
  background: white;
  padding: 7px;
  width: 57px;
  color: red;
}





